$breakpoint-wide-desktop: 901px;
$breakpoint-desktop:825px; 
$breakpoint-tablet: 640px; 
$breakpoint-mobile: 448px; 
$breakpoint-s-mobile: 406px; 
$breakpoint-xs-mobile: 340px;
$font-color: #FFFFFF;
$font-color-darker: var(--ktl-font-family-inter);
$font-color-darkest: #8d9485; 
$font-size-license: 13px;

.footer{
    padding-top: 32px;
    position: relative;
    
    @media (max-width: $breakpoint-xs-mobile) {
        height: 356px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-xs-mobile) {
        height: 336px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-s-mobile) {
        height: 333px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-mobile) {
        height: 301px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-tablet) {
        height: 208px;
        padding: 32px;
    }
    @media (min-width: $breakpoint-desktop) {
        height: 188px;
        padding: 32px;
    }
    @media (min-width: $breakpoint-wide-desktop) {
        height: 164px;
        padding: 32px;
    }
    &__container-first-row{
        display: flex;
        flex-wrap: wrap;
    }
    &__stay-in-touch{
        color: $font-color;
        height: 24px;
        margin-right: 24px;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: 8px;
            margin-right: 0;
            width: 100%;
        }
    }
    &__social-list{
        display: flex;
        flex-basis: 306px;
        margin-block: -6px;
        gap: 18px;
        
        a{
            height: 36px;
            width: 36px;
            padding: 6px;
        }
    }
    &__nav-container{
        max-width: 90%;
        margin-bottom: 32px;
        margin-top: 24px;
        @media (min-width: $breakpoint-tablet) {
            margin-block: 16px;
    }
    }
    &__ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 12px;
            padding-right: 12px;
            a{
                color: $font-color-darker;
                font-weight: 300;
            }
        }
        li::after{
            content: "|";
            position: relative;
            left: 12px;
            font-size: small;
            font-weight: 200;
            color: #ffffffa9;
        }
        li:last-child::after{
            content: ""
        }
    }
    &__license-and-support-container{
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

    }
    &__kotlin-license{
        font-size: $font-size-license;
        color: $font-color-darkest;
        a{
            color: $font-color-darker;
        }
    }
    &__support{
        @extend .footer__kotlin-license;
        text-align: right;
    }
    &__logo{
        position: absolute;
        right: 32px;
        top: 32px;
        @media (max-width: $breakpoint-tablet) {
            position: absolute;
            bottom: 16px;
            right: 16px;
        }
    }
}