$breakpoint-wide-desktop: 901px;    //>915 100 h 32p
$breakpoint-desktop:825px; // \> 825 124h 32p
$breakpoint-tablet: 640px; //> 640 144h 32p
$breakpoint-mobile: 448px; //> 447 253h t 32p else 16p
$breakpoint-s-mobile: 406px; //> 285h
$breakpoint-xs-mobile: 340px;
$font-color: #FFFFFF;
$font-color-darker: var(--ktl-font-family-inter);  //> 288h
// < 340  308h

.footer{
    padding-top: 32px;
    
    @media (max-width: $breakpoint-xs-mobile) {
        height: 356px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-xs-mobile) {
        height: 336px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-s-mobile) {
        height: 333px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-mobile) {
        height: 301px;
        padding-inline: 16px;
        padding-bottom: 16px;
    }
    @media (min-width: $breakpoint-tablet) {
        height: 208px;
        padding: 32px;
    }
    @media (min-width: $breakpoint-desktop) {
        height: 188px;
        padding: 32px;
    }
    @media (min-width: $breakpoint-wide-desktop) {
        height: 164px;
        padding: 32px;
    }
    &__container-first-row{
        display: flex;
        flex-wrap: wrap;
    }
    &__stay-in-touch{
        color: $font-color;
        height: 24px;
        margin-right: 24px;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: 8px;
            margin-right: 0;
            width: 100%;
        }
    }
    &__social-list{
        display: flex;
        flex-basis: 306px;
        margin-block: -6px;
        gap: 18px;
        
        a{
            height: 36px;
            width: 36px;
            padding: 6px;
        }
    }
    &__nav-container{
        margin-bottom: 32px;
        margin-top: 24px;
        @media (min-width: $breakpoint-tablet) {
            margin-block: 16px;
    }
    }
    &__ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 12px;
            padding-right: 12px;
            a{
                color: $font-color-darker;
                font-weight: 300;
            }
        }
        li::after{
            content: "|";
            position: relative;
            left: 12px;
            font-size: small;
            font-weight: 200;
            color: #ffffffa9;
        }
        li:last-child::after{
            content: ""
        }
    }
}